{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index_styles.css')}}">
{% endblock %}
{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

{% block content %}
    <div class="block_container">
        <div class="index_filters">
            <div class="img_btn" id="btn_top_headlines">
                <p>Top headlines</p>
            </div>
            <div class="img_btn" id="btn_everything">
                <p>Everything</p>
            </div>
        </div>
        <div class="sources_container">

            <div id="top_headlines_sources_container">
                <div class="news_agencies_grid_container">
                    {{ macro.display_news_agencies(agencies_list) }}
                </div>
            </div>
            <div id="everything_sources_container" class="hide_element">
                <p class="centered_text">Type a search query into the search box above, to get related news.</p>
            </div>
        </div>
    </div>
{% endblock %}

