{% macro display_news_agencies(list) %}
    {% for agency in list %}
        <div class="agency_item_container">

            <img class="agency_item_img" src="{{ agency.source_img }}" alt="Agency image">
            <div class="agency_item_info">
                <p class="agency_name_txt">{{ agency.source_name }}</p>
                <p>{{ agency.source_description }}</p>
                <a class="get_news_from_link" href="/news/top-headlines/source/{{agency.source_id}}">Get news from {{agency.source_name}}</a>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro display_news_results(list) %}
    {% for result in list %}
        <div class="result_container">
            <div class="result_inner_container">
                <div class="result_info">
                    <p class="result_title_txt">{{result.title}}</p>
                    <p class="result_published_txt">Published by {{result.author}} from {{result.source}} on {{result.published_at}}</p>
                    <p>{{result.description}}</p>
                    <p>{{result.content}}<a href="{{result.url}}" target="_blank">Read More</a></p>
                    <div class="divider"></div>
                </div>
                <div class="result_image">
                    <img src="{{result.url_to_image}}" alt="Image for the article">
                </div>
            </div>
        </div>

    {% endfor %}
{% endmacro %}