<div>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar_styles.css')}}">
    {% endblock %}
    {% block javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='navbar.js') }}"></script>
        <!-- The contents of myscript.js will be loaded inside the script tag -->
    {% endblock %}
    <div class="container">
        <div class="nav_container">
        <div class="nav_home_sect">
          <img src="/static/ic_newspaper.svg">
          <p><a id="home_icon_txt" href="/">News App</a></p>
        </div>
        <div class="nav_search_sect">
            <div class="img_btn" id="btn_filter">
                <div class="img_container">
                    <img src="/static/ic_filter.svg">
                </div>
                <p>Filter</p>
            </div>
            <div class="img_btn" id="btn_sort">
                <div class="img_container">
                    <img src="/static/ic_sort.svg">
                </div>
                <p>Sort</p>
            </div>
        </div>
    </div>
        <div class="filters_container">

        </div>
        <div class="sort_container">

        </div>
    </div>
</div>
